@import "../uniform/style.module";

.container {
  @include centerDiv(column);

  .heroSections {
    @include centerDiv(row);
    justify-content: center;
    height: 100vh;
    // background-image: url("../public/partdark.jpg");
    // @include pic();
    position: relative;


    .heroElements {
      @include centerDiv(column);
      width: 80%;
      border: 2px solid $main;
      padding: 1rem;
      padding-bottom: 2rem;
      position: relative;
      border-bottom: 0;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20%;
        height: 2px;
        background-color: $main;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20%;
        height: 2px;
        background-color: $main;
      }

      h1,
      a {
        color: white;
        width: 100%;
        text-align: left;
      }

      h1 {
        font-size: 35px;
        margin-bottom: 1rem;

        button {
          color: $main;
          background-color: transparent;
          border: none;
          font-size: inherit;
        }
      }

      a {
        font-style: italic;
        background-color: none;
        border: none;
        font-size: 1rem;
      }

      .icons {
        @include centerDiv(row);
        margin-top: 3rem;

        .icon {
          @include centerDiv(row);
          margin: 0 1rem;

          svg {
            width: 1.5rem;
            color: $main;
            margin-right: 1rem;
          }

          p {
            font-style: normal;
            font-size: 1rem;
            width: 100%;
            text-align: left;
            color: white;
          }
        }
      }
    }
  }

  .detailElement {
    @include centerDiv(row);
    padding: 8rem 2rem;
    padding-bottom: 5rem;
    align-items: flex-start;

    .picContainer {
      @include centerDiv(row);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        z-index: 10;
        bottom: -4rem;
        right: 0;
        height: 1px;
        width: 40%;
        background-color: $main;
      }

      .pic {
        background-image: url("../public/haz.jpg");
        @include pic();
        background-position: 50% 80%;
        height: 20rem;
        width: 60%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          z-index: 10;
          left: -2rem;
          width: 1px;
          height: 60%;
          background-color: $main;
        }

        &::after {
          content: "";
          position: absolute;
          top: 2rem;
          left: 2rem;
          z-index: -1;
          width: 100%;
          height: 100%;
          background-color: rgba($main, 0.6);
        }
      }


      .text,
      .helper {
        @include centerDiv(row);
        position: absolute;
        z-index: 10;
        width: 30%;
        background-color: rgba($main, 0.6);
        height: 20%;
        color: white;
        text-align: center;
        top: calc(100% - 50%);
        padding: 1rem;
        right: 5%;
      }

      .helper {
        z-index: 5;
        background-color: white;
      }
    }

    .details {
      @include centerDiv(column);
      padding: 0 3rem;
      color: $bg;
      height: 100%;

      h1 {
        font-size: 40px;
        text-align: center;

        span {
          color: $main;
        }
      }

      p {
        font-size: 1.2rem;
        text-align: center;
      }

      .sep {
        width: 60%;
        height: 0.1rem;
        position: relative;
        background-color: $main;
        margin: 4rem 0;

        &::after {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          border-radius: 100%;
          z-index: 10;
          top: calc(50% - 0.55rem);
          left: calc(50% - 0.55rem);
          border: 0.1rem solid $main;
        }

        &:not(:nth-child(2)) {
          width: 20%;
          margin: 2rem 0;
        }
      }

      button {
        @include MyButton();
        font-size: 1rem;
      }
    }
  }

  .bigTitle {
    @include centerDiv(row);
    justify-content: flex-start;
    padding-left: 5rem;
    margin: 5rem;
    margin-top: 7rem;

    .titleWrapper {
      @include centerDiv(column);

      h1 {
        font-size: 60px;
        color: $bg;
        position: relative;
        margin-right: 5rem;
        padding: 0.5rem 1rem;

        &::before {
          content: "";
          position: absolute;
          z-index: 10;
          width: 55%;
          right: 0;
          top: 0;
          background-color: $main;
          height: 1px;
        }

        &::after {
          content: "";
          position: absolute;
          z-index: 10;
          width: 55%;
          left: 0;
          bottom: 0;
          background-color: $main;
          height: 1px;
        }
      }
    }

    .picContainer {
      @include centerDiv(row);
      position: relative;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        z-index: 10;
        bottom: -4rem;
        left: 0;
        height: 1px;
        width: 40%;
        background-color: $main;
      }

      .pic {
        background-image: url("../public/topart/general/toparthaz1.jpg");
        @include pic();
        height: 20rem;
        width: 60%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          z-index: 10;
          right: -2rem;
          width: 1px;
          height: 60%;
          background-color: $main;
        }

        &::after {
          content: "";
          position: absolute;
          top: 2rem;
          right: 2rem;
          z-index: -1;
          width: 100%;
          height: 100%;
          background-color: rgba($main, 0.6);
        }
      }

      .text,
      .helper {
        @include centerDiv(row);
        position: absolute;
        z-index: 10;
        width: 30%;
        background-color: rgba($main, 0.6);
        height: 20%;
        color: white;
        text-align: center;
        top: calc(100% - 40%);
        padding: 1rem;
        left: 5%;
      }

      .helper {
        z-index: 5;
        background-color: white;
      }
    }
  }

  .cards {
    @include centerDiv(row);
    padding: 3rem 1rem 10rem 1rem;

    .card {
      @include centerDiv(column);
      margin: 0 1rem;

      .cardPic,
      .cardPic1 {
        background-image: url("../public/lellehazdark.jpeg");
        @include pic();
        width: 100%;
        height: 20rem;
      }

      .cardPic1 {
        background-image: url("../public/topart/general/toparthaz1.jpg");
      }

      .description {
        @include centerDiv(column);
        background-color: white;
        color: $bg;
        border: 1px solid $main;
        border-top: none;
        padding: 0 1rem 1rem 1rem;

        h1 {
          font-size: 30px;
          margin: 2rem 0 3rem 0;
        }

        .cardDetails {
          @include centerDiv(row);
          padding: 0 5rem;

          svg {
            width: 2rem;
            color: $main;
            margin-right: 1rem;
          }
        }

        button {
          margin: 3rem 0 1rem 0;
          @include MyButton();
          z-index: 10;
        }
      }
    }
  }

  .myReservationRoute {
    @include centerDiv(row);
    width: auto;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    bottom: 1rem;
    padding-left: 3rem;

    button {
      @include MyButton();
      font-size: 1rem;
    }
  }

  .myReservation {
    @include centerDiv(column);
    margin-top: 3rem;


    h1 {
      @include MyTitle(50px);
      margin-right: 0;
    }

    div {
      @include centerDiv(row);
      margin-top: 5rem;

      label {
        color: $main;
        margin-right: 1rem;
      }

      input {
        width: 30%;
        padding: 0.5rem;
        border: none;
        border-bottom: 1.5px solid $main;
        color: $main;
      }
    }

    button {
      @include MyButton();
      margin-top: 5rem;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .container .cards .card .description .cardDetails svg {
    width: 3rem;
  }
}

@media only screen and (max-width: 1400px) {
  .container .cards .card .description .cardDetails {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 1050px) {
  .container .cards {
    @include centerDiv(column);

    .card {
      @include centerDiv(row);
      margin: 1rem 5rem;
      max-width: 90%;

      .cardPic {
        height: 25rem;
      }

      .description {
        border: 1px solid $main;
        border-left: none;
        height: 25rem;
      }
    }
  }

  // .container .heroSections {
  //   padding-left: 5rem;
  // }

  .container .cards .card .description .cardDetails svg {
    width: 3rem;
  }
}

@media only screen and (max-width: 770px) {
  .container .heroSections .heroElements h1 {
    font-size: 35px;
  }

  .container .heroSections .heroElements .icons .icon {
    flex-direction: column;
  }

  .container .detailElement {
    flex-direction: column;

    .details {
      margin-top: 15rem;
    }
  }

  .container .bigTitle {
    flex-direction: column-reverse;

    h1 {
      margin-top: 15rem;
    }
  }

  .container .footer .else {
    flex-direction: column;

    .social {
      border: none;
      border-top: 1px solid white;
      padding-top: 2rem;
    }
  }
}

@media only screen and (max-width: 560px) {
  .container .heroSections .heroElements {
    width: 70%;
  }

  .container .cards .card {
    flex-direction: column;

    .description {
      border: 1px solid $main;
      border-top: none;
    }
  }

  .container .footer {
    flex-direction: column;

    .else {
      margin-top: 6rem;
    }
  }
}

@media only screen and (max-width: 466px) {
  .container .bigTitle {
    padding-left: 1rem;

    h1 {
      font-size: 35px;
    }
  }

  .container .myReservation h1 {
    width: 80%;
    font-size: 40px;
  }

  .container .heroSections .heroElements {
    width: 80%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    overflow: hidden !important;
  }

  .heroSections {

    // padding-left: 1rem !important;
    .heroElements {
      width: 95% !important;
      margin: 0 !important;
    }
  }

  .pic {
    width: 90% !important;
  }

  .helper,
  .text {
    width: 40% !important;
  }

  .details {
    padding: 0 !important;

    p {
      text-align: left !important;
    }
  }

  .titleWrapper {
    h1 {
      font-size: 45px !important;
      margin-right: 0 !important;
    }
  }

  .cardPic,
  .cardPic1,
  .description {
    height: 20rem !important;
  }

  .myReservationRoute {
    padding-right: 0 !important;
    justify-content: center !important;
  }
}