.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.container .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  width: auto;
  position: absolute;
  top: 2vmin;
  right: 5vmin;
  cursor: pointer;
  background-color: white;
  color: #daa06d;
  border-radius: 5px;
  padding: 1vmin 2vmin;
  border: 1.5px solid #daa06d;
  transition: all 0.3s ease-in-out;
}
.container .logout svg {
  width: 5vmin;
}
.container .logout:hover {
  background-color: #daa06d;
  color: white;
}
.container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 10vmin;
}
.container .title h1 {
  font-size: 50px;
  color: #2f4858;
  position: relative;
  margin-right: 5rem;
  padding: 0.5rem 1rem;
  margin: 0;
}
.container .title h1::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 55%;
  right: 0;
  top: 0;
  background-color: #daa06d;
  height: 1px;
}
.container .title h1::after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 55%;
  left: 0;
  bottom: 0;
  background-color: #daa06d;
  height: 1px;
}
.container .title p {
  color: #2f4858;
  margin-top: 5vmin;
}
.container .title p button {
  background-color: transparent;
  border: none;
  font-weight: normal;
  color: #daa06d;
  padding: 0;
  border-bottom: 1px solid #daa06d;
}
.container .types {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin-top: 10vmin;
}
.container .types button,
.container .types .type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 5vmin;
  border: 1.5px solid #daa06d;
  border-radius: 5px;
  padding: 1vmin 3vmin;
  background-color: transparent;
  color: #daa06d;
  text-transform: uppercase;
}
.container .types button:hover,
.container .types .type:hover {
  background-color: #daa06d;
  color: white;
  cursor: pointer;
}
.container .types .type {
  background-color: #daa06d;
  color: white;
}
.container .typeTitle {
  font-size: 30px;
  color: #2f4858;
  position: relative;
  margin-right: 5rem;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-top: 10vmin;
}
.container .typeTitle::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 55%;
  right: 0;
  top: 0;
  background-color: #daa06d;
  height: 1px;
}
.container .typeTitle::after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 55%;
  left: 0;
  bottom: 0;
  background-color: #daa06d;
  height: 1px;
}
.container .sep {
  width: 80%;
  height: 1px;
  background-color: #daa06d;
  margin: 15vmin 0;
  position: relative;
}
.container .sep::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 0.1rem solid #daa06d;
  border-radius: 100%;
  left: calc(50% - 0.55rem);
  top: calc(50% - 0.55rem);
}/*# sourceMappingURL=page.module.css.map */