.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  box-shadow: 0 0 10px 3px rgba(218, 160, 109, 0.7);
  width: 50%;
  border-radius: 10px;
  padding: 5vmin 0;
}
.form svg {
  width: 2rem;
  margin-right: 1rem;
  color: #daa06d;
}
.form .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: 60%;
}
.form .input p {
  width: 100%;
  text-align: left;
  color: rgba(218, 160, 109, 0.5);
  font-size: small;
  font-style: italic;
}
.form .input input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.5px solid #daa06d;
  color: #daa06d;
}
.form h1 {
  font-size: 60px;
  color: #2f4858;
  position: relative;
  margin-right: 5rem;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-bottom: 10vmin;
}
.form h1::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 55%;
  right: 0;
  top: 0;
  background-color: #daa06d;
  height: 1px;
}
.form h1::after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 55%;
  left: 0;
  bottom: 0;
  background-color: #daa06d;
  height: 1px;
}
.form div {
  margin: 3vmin 0;
}
.form .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.form .buttons button {
  margin-top: 3vmin;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 1rem 4rem;
  color: #daa06d;
  transition: all 0.6s;
}
.form .buttons button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 19px 3px rgba(218, 160, 109, 0.75);
  transition: all 0.6s;
}
.form .buttons button:hover {
  color: white;
  cursor: pointer;
}
.form .buttons button:hover::after {
  background-color: #daa06d;
  transform: skewX(-10deg);
  box-shadow: none;
}
.form .buttons button svg {
  margin: 0;
  transition: all 0.5s ease-in-out;
}
.form .buttons button:hover svg {
  color: white;
}

@media only screen and (max-width: 1010px) {
  .form h1 {
    font-size: 40px;
    color: #2f4858;
    position: relative;
    margin-right: 5rem;
    padding: 0.5rem 1rem;
    margin: 0;
    margin-bottom: 5vmin;
  }
  .form h1::before {
    content: "";
    position: absolute;
    z-index: 10;
    width: 55%;
    right: 0;
    top: 0;
    background-color: #daa06d;
    height: 1px;
  }
  .form h1::after {
    content: "";
    position: absolute;
    z-index: 10;
    width: 55%;
    left: 0;
    bottom: 0;
    background-color: #daa06d;
    height: 1px;
  }
}
@media only screen and (max-width: 675px) {
  .form {
    width: 80%;
  }
  .form h1 {
    margin: 0;
    margin-bottom: 5vmin;
  }
  .form .input {
    width: 80%;
  }
}
@media only screen and (max-width: 420px) {
  .form {
    width: 90%;
  }
  .form h1 {
    font-size: 30px;
    color: #2f4858;
    position: relative;
    margin-right: 5rem;
    padding: 0.5rem 1rem;
    margin: 0;
    margin-bottom: 5vmin;
  }
  .form h1::before {
    content: "";
    position: absolute;
    z-index: 10;
    width: 55%;
    right: 0;
    top: 0;
    background-color: #daa06d;
    height: 1px;
  }
  .form h1::after {
    content: "";
    position: absolute;
    z-index: 10;
    width: 55%;
    left: 0;
    bottom: 0;
    background-color: #daa06d;
    height: 1px;
  }
  .form .input {
    width: 80%;
  }
}/*# sourceMappingURL=page.module.css.map */