@charset "UTF-8";
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.container .magImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
}
.container .magImageContainer .magImageButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.container .magImageContainer .magImage {
  width: 90%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.container .heroSections {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  position: relative;
  padding-bottom: 1rem;
}
.container .heroSections .heroElements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: 50%;
  border: 2px solid #9dc183;
  padding: 2rem 1rem;
  position: relative;
  border-right: 0;
  margin-left: 5rem;
}
.container .heroSections .heroElements::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 20%;
  width: 2px;
  background-color: #9dc183;
}
.container .heroSections .heroElements::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20%;
  width: 2px;
  background-color: #9dc183;
}
.container .heroSections .heroElements h1,
.container .heroSections .heroElements p {
  color: white;
  width: 100%;
  text-align: left;
}
.container .heroSections .heroElements h1 {
  font-size: 50px;
  margin-bottom: 1rem;
}
.container .heroSections .heroElements h1 span {
  color: #9dc183;
}
.container .heroSections .heroElements a {
  width: 100%;
  text-decoration: none;
  color: white;
  text-decoration: underline;
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.container .apartmansDetailed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 5rem 0;
}
.container .apartmansDetailed .apartmanDetailed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  color: #2f4858;
}
.container .apartmansDetailed .apartmanDetailed .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding-left: 6rem;
}
.container .apartmansDetailed .apartmanDetailed .intro .magImages {
  background-color: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
}
.container .apartmansDetailed .apartmanDetailed .intro .magImages::after {
  content: "Kattints a nagyításhoz!";
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  color: white;
  transition: all 0.5s;
  opacity: 0;
}
.container .apartmansDetailed .apartmanDetailed .intro .magImages:hover::after {
  opacity: 1;
}
.container .apartmansDetailed .apartmanDetailed .intro .description {
  padding: 1rem 3rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  width: 60%;
}
.container .apartmansDetailed .apartmanDetailed .intro .description h1 {
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: #9dc183;
}
.container .apartmansDetailed .apartmanDetailed .intro .description .sep {
  margin: 3rem 0;
}
.container .apartmansDetailed .apartmanDetailed .intro .description p {
  text-align: center;
  width: 80%;
  padding-bottom: 3rem;
  font-size: 1.2rem;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button {
  background-color: transparent;
  border: none;
  position: relative;
  padding: 1rem 4rem;
  color: #9dc183;
  transition: all 0.6s;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 19px 3px rgba(157, 193, 131, 0.75);
  transition: all 0.6s;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button:hover {
  color: white;
  cursor: pointer;
}
.container .apartmansDetailed .apartmanDetailed .intro .description button:hover::after {
  background-color: #9dc183;
  transform: skewX(-10deg);
  box-shadow: none;
}
.container .apartmansDetailed .apartmanDetailed .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding-top: 3rem;
}
.container .apartmansDetailed .apartmanDetailed .details .services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.container .apartmansDetailed .apartmanDetailed .details .services .service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  padding: 1rem;
  background-color: #9dc183;
  width: 60%;
  justify-content: flex-start;
}
.container .apartmansDetailed .apartmanDetailed .details .services .service:first-child {
  padding-top: 2rem;
}
.container .apartmansDetailed .apartmanDetailed .details .services .service:last-child {
  padding-bottom: 2rem;
}
.container .apartmansDetailed .apartmanDetailed .details .services .service svg {
  width: 1.5rem;
  color: white;
  margin-right: 0.5rem;
}
.container .apartmansDetailed .apartmanDetailed .details .services .service p {
  color: white;
}
.container .apartmansDetailed .apartmanDetailed .details .interiors {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 1rem 3rem;
  padding-right: 0;
}
.container .apartmansDetailed .sep {
  width: 60%;
  height: 0.1rem;
  position: relative;
  background-color: #9dc183;
  margin: 10rem 0;
}
.container .apartmansDetailed .sep::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  z-index: 10;
  top: calc(50% - 0.55rem);
  left: calc(50% - 0.55rem);
  border: 0.1rem solid #9dc183;
}

.pic,
.pic1 {
  background-image: url("../../public/lellehazdark.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 15rem;
  position: relative;
  float: left;
  transition: all 0.6s;
}
.pic:nth-child(1),
.pic1:nth-child(1) {
  background-image: url("../../public/apartman/general/Balatonlelle_Nádor_Apartmanház.jpg");
}
.pic:nth-child(2),
.pic1:nth-child(2) {
  background-image: url("../../public/apartman/general/Balatonlelle_Nádor_Kert1.jpg");
}
.pic:nth-child(3),
.pic1:nth-child(3) {
  background-image: url("../../public/apartman/general/Balatonlelle_Nádor_Kert2.jpg");
}
.pic:nth-child(4),
.pic1:nth-child(4) {
  background-image: url("../../public/apartman/general/Balatonlelle_Nádor_Apartmanház.jpg");
}

.pic1:nth-child(1) {
  background-image: url("../../public/topart/general/toparthaz1.jpg");
}
.pic1:nth-child(2) {
  background-image: url("../../public/topart/general/Dream Tópart_Kerti kapu.jpg");
}
.pic1:nth-child(3) {
  background-image: url("../../public/topart/general/Dream Tópart_Kerti kapu_2.jpg");
}
.pic1:nth-child(4) {
  background-image: url("../../public/topart/general/toparthaz2.jpg");
}

@media only screen and (max-width: 1000px) {
  .container .heroSections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }
  .container .heroSections .apartmans {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .container .apartmansDetailed .apartmanDetailed .intro {
    padding-left: 3rem;
  }
  .container .apartmansDetailed .apartmanDetailed .details {
    padding-right: 3rem;
  }
  .container .apartmansDetailed .apartmanDetailed .details .services .service {
    width: 75%;
  }
}
@media only screen and (max-width: 850px) {
  .container .heroSections .heroElements h1 {
    font-size: 35px;
  }
  .container .apartmansDetailed .apartmanDetailed .intro,
  .container .apartmansDetailed .apartmanDetailed .details {
    flex-direction: column;
    padding: 0;
  }
  .container .apartmansDetailed .apartmanDetailed .intro .services,
  .container .apartmansDetailed .apartmanDetailed .details .services {
    margin: 7rem 0;
  }
  .container .apartmansDetailed .apartmanDetailed .intro .description {
    padding: 0;
    margin: 0;
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 460px) {
  .container .heroSections .heroElements {
    width: 70%;
    margin-left: 2rem;
  }
  .container .apartmansDetailed .apartmanDetailed .details .interiors {
    padding: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .heroSections {
    padding-left: 1rem !important;
  }
  .heroSections .heroElements {
    width: 95% !important;
    margin: 0 !important;
  }
  .magImages {
    background-color: transparent;
    width: 100% !important;
  }
  .description {
    width: 100% !important;
  }
  .description h1 {
    font-size: 45px !important;
  }
  .description p {
    text-align: left !important;
  }
  .interiors div {
    display: none;
  }
}/*# sourceMappingURL=page.module.css.map */